RAG Weather Report Notifier (Drive → Vector DB → SMS).json
{
  "name": "RAG Weather Report Notifier (Drive → Vector DB → SMS)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "list",
          "value": "1HJYHQQmUy5TQiNVjaraW03HHSZk8XGbG",
          "cachedResultName": "Weather reports",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1HJYHQQmUy5TQiNVjaraW03HHSZk8XGbG"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "481578c5-5b3d-4d43-b852-d7b473929537",
      "name": "On Folder Update",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        416
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "K0iP7jFjKUOkeild",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "1a532e0f-800b-403f-b002-61887dbb7758",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        416
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "K0iP7jFjKUOkeild",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "weather_reports"
        }
      },
      "id": "49f0e1a8-dd5d-4b2d-8408-46c83418f5d1",
      "name": "Update Vector DB",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {},
      "id": "cf480b95-d018-4935-8d24-e418224ffea4",
      "name": "Embeddings Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        464,
        224
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "vjgwyRUwLpzz4QAZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "filename",
                "value": "={{ $('Download File').item.json.name }}"
              },
              {
                "name": "fileId",
                "value": "={{ $('Download File').item.json.id }}"
              }
            ]
          }
        }
      },
      "id": "4de4a53f-ab34-4dc4-84b7-5600d9a82db3",
      "name": "Document Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        592,
        224
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "e4cbdfa6-ac72-4310-872b-0a3c738949d2",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        592,
        432
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "reportText",
        "options": {}
      },
      "id": "a0926867-71f2-4bf0-b6b0-4bdd7435b005",
      "name": "Extract Report Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        512,
        608
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Weather report file name: {{ $('Download File').item.json.name }}\n\nReport content:\n{{ $json.reportText }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a meteorology assistant. The provided text is a weather report that was just revised. Write a very short plain-text SMS status of no more than 4 short lines and under 300 characters total. Line 1: location and forecast period. Line 2: temperature. Line 3: precipitation and wind. Line 4: any warning/alert or the key change (or 'No alerts'). Be terse, no markdown, no emojis, no preamble."
            }
          ]
        },
        "batching": {}
      },
      "id": "3351c980-0b84-42ea-8608-ae448741407f",
      "name": "Summarize Revised Report",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        800,
        608
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "id": "03c7a237-b482-42d6-9c69-5f8ebe0d5b12",
      "name": "Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        880,
        832
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "vjgwyRUwLpzz4QAZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "from": "+16056207217",
        "to": "+919773816445",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "id": "f72641f0-2ade-4cdc-83ea-b8c9afc206ce",
      "name": "Send SMS Summary",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1152,
        608
      ],
      "credentials": {
        "twilioApi": {
          "id": "ChrGMPWVyesP8upb",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG Weather Report Notifier\n\n**Flow:** Google Drive folder update → download file → (1) upsert into the in-memory vector DB (Gemini embeddings), (2) extract text + Gemini LLM summarizes the revised content → send via Twilio SMS.\n\n**Setup needed:** connect a free Google Gemini (PaLM) API key, and set the Twilio SMS sender + recipient numbers.",
        "height": 356,
        "width": 420,
        "color": 4
      },
      "id": "24daa1cf-7780-4f0b-abf5-ef606ea2cc1d",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1312,
        96
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "On Folder Update": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Update Vector DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Report Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Update Vector DB",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Document Loader": {
      "ai_document": [
        [
          {
            "node": "Update Vector DB",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Document Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract Report Text": {
      "main": [
        [
          {
            "node": "Summarize Revised Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Revised Report": {
      "main": [
        [
          {
            "node": "Send SMS Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Revised Report",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8af0e8be-dca6-4ac7-b52f-6f67d56b4b49",
  "meta": {
    "instanceId": "6ac7583d1febd504ad795ee631cc7e8f8fc1ed88b1d7cb21ead83a99afab2d3c"
  },
  "nodeGroups": [],
  "id": "8CstZxAT76QHOzrx",
  "tags": []
}